body {
    font-family: Montserrat;
    font-size: 13px;
    line-height: 18px;
    color: #515076;
}
.products {
    background-image: url(../img/bg-main.png);
    background-repeat: no-repeat;
}
.products h2 {
    font-size: 70px;
    line-height: 78px;
    font-weight: normal;
    text-align: center;
}
.card {
    background-color: #F7F7FA;
}
.products h3 {
    font-style: 20px;
    line-height: 27px;
}
.card-category {
    color: #A5A3B9;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
}
.card-price {
    font-size: 20px;
    line-height: 24px;
}
.card-price-name {
    font-weight: 700;
}

body {
    margin: 0;
}
.main-content {
    width: 1110px;
    padding-left: 85px;
    padding-right: 85px;
    margin: 0 auto;
}
.products {
    padding-top: 200px;
    padding-bottom: 120px;
}
.cards {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 45px;
}
.products h2 {
    margin: 0;
    margin-bottom: 110px;
}
.card {
    width: 290px;
    padding: 25px;
}
.card-category {
    margin: 0;
    margin-bottom: 5px;
}
.products h3 {
    margin: 0;
    margin-bottom: 5px;
}
.card-description {
    margin: 0;
    margin-bottom: 15px;
}
.card-features-title {
    margin: 0;
    margin-bottom: 5px;
}
.card-price {
    margin: 0;
    display: flex;
    justify-content: space-between;
}
.card-features {
    margin: 0;
    padding: 0;
    margin-bottom: 25px;
    margin-left: 15px;
}
.card-img {
    display: block;
    margin-bottom: 30px;
}
.card-features li {
    margin-bottom: 5px;
}


